 body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: #040404;
      padding: 20px;
    }
    .work_title{
    color: #fff;
    width: 500px;
    }

    h1 {
      margin-bottom: -20px;
      color: aliceblue;
    }

    .body-workout {
     display: flex;
     flex-direction: row;
    }

    

   

    .icon path {
      fill: white;
      transition: fill 0.3s;
      position: absolute;
    }

    .icon:hover path {
      fill: red;
      /* On hover */
      cursor: pointer;
    }

    .icon:active path {
      fill: darkred;
      /* On click */
    }
   
     .gif{
          display: flex;
          flex-direction: column;
       margin: 50px;
     }
    
  
      @media(max-width:740px){
   
    .body-workout{
   display: flex;
    flex-direction: column;
}
  .work_video{
     width: 450px;
    background-color: rgb(0, 0, 0);

  }
  
   }